<div class="example-container title-container">
    <h4><strong>Testing in Angular</strong></h4>
</div>

<div class="example-container">
    <h6>1. Introduction to Jasmine and Karma</h6>
    <p>
        <strong>Jasmine: </strong> A behavior-driven development framework for testing JavaScript code. It provides
        functions to write tests and assertions.
    </p>
    <p>
        <strong>Karma: </strong> A test runner that runs tests in various browsers and provides the results.
    </p>
</div>

<div class="example-container">
    <h6>2. Writing Unit Tests</h6>
    <p>
        Unit tests focus on individual components, services, or other pieces of logic. Let's write unit tests for a
        simple Angular service and component.
    </p>
    <p>
        <strong>Example: Testing a Service</strong>
        <app-code-box [code_snippet]="_code_snipper_data_service"></app-code-box>
        <app-code-box [code_snippet]="_code_snippet_data_service_spec"></app-code-box>
    </p>

    <p>
        <strong>Example: Testing a Component</strong>
        <app-code-box [code_snippet]="_code_snippet_post_list"></app-code-box>
        <app-code-box [code_snippet]="_code_snippet_post_list_spec"></app-code-box>
    </p>
</div>

<div class="example-container">
    <h6>3. Integration Testing</h6>
    <p>
        Integration testing ensures that different parts of the application work together as expected. This usually
        involves testing higher-level components or entire routes.
    </p>
    <p>
        <strong>Example: Testing a Route</strong>
        <app-code-box [code_snippet]="_code_snipper_data_service"></app-code-box>
        <app-code-box [code_snippet]="_code_snippet_data_service_spec"></app-code-box>
    </p>
</div>

<div class="example-end-container">
</div>