h1 {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: ghostwhite;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    padding-top: 3.5rem;
    transition: width 0.3s ease;
}

@media screen and (min-width: 600px) {
    mat-sidenav {
        padding-top: 4rem;
    }
}

mat-sidenav .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
}

mat-sidenav-content {
    padding-top: 4.7rem;
    padding-left: 3.7rem;
    padding-right: 3.7rem;
}

@media screen and (min-width: 600px) {
    mat-sidenav-content {
        padding-top: 4.7rem;
    }
}

.expanded {
    width: 250px;
}

.mat-drawer-inner-container {
    background-color: ghostwhite;
}

.user-flow-a {
    width: 175px;
    cursor: pointer!important;
}

.header-title {
    cursor: pointer;
}